.tabla_usuarios{
    text-align: left;
}
.tabla_usuarios tbody td{
    border: 1px solid rgba(128, 128, 128, 0.31);
}
.float_right{
    float: right;
}
.alinear_derecha{
    text-align: right;
}
.alinear_izquierda{
    text-align: left;
}
 .formulario .input input[type='text'],.formulario .input input[type='password'],.formulario .input input[type='email'],.formulario .input select {
    padding: 10px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
     border: 1px solid grey;
 }
 .formulario .input {
     margin: 10px auto;
     display: grid;
 }
 .centrar_contenido{
     margin: auto;
     text-align: center;
 }

 .success_ticket{
     font-weight: bold;
     background-color: rgb(20, 199, 20);
     color: white;
     padding: 10px;
     border-radius: 4px;
     text-align: center;
 }
 .mas_opciones_menu{
     display: inline-flex;
     margin: 8px 10px;
 }
 .mas_opciones_menu > div{
     margin: auto 10px;
 }

 .mas_opciones_menu .barra_buqueda input[type='search']{
     padding: 4px;
     border: 1px solid rgba(255, 0, 0, 0.25);
     border-radius: 4px;
 }

 .busqueda_sin_resultados .glyphicon{
     font-size: 200px;
     background-image: linear-gradient(to right top, #03a9f4, #0094e8, #197ed9, #2f68c8, #3f51b5);
     color: white;
     padding: 20px;
     border-radius: 50%;
     opacity: 0.7;
     transform: rotate(20deg);
 }
 .info_resultado_busqueda{
     text-align: left;
 }

 .formulario_inicio_sesion > div {
     margin: 15px auto;
 }

 .usuario_logueado .nombre_usuario{
     color: black;
     background-color: white;
     padding: 7px 10px 5px 10px;
     margin-left: -4px;
     border-radius: 0px 4px 4px 0px;
     font-weight: bold;
 }
.usuario_logueado .glyphicon-user{
    background-color: #337ab7;
    color: white;
    padding: 7px;
    border-radius: 4px 0px 0px 4px;
}
.usuario_logueado:hover{
    cursor: pointer;
}

.icono_notificaciones{
    background-color: white;
    color: black;
    padding: 7px 9px;
    border-radius: 4px;
    transition: 0.2s;
}
.icono_notificaciones:hover{
    color: tomato;
    cursor: pointer;
    transition: 0.2s;
}

.contenedor_paginacion_jquery .paginacion_jquery span{
    cursor: pointer;
}
/* Estilos caja filtro */
.contenedor_barra_filtro{
    margin: 10px 0px;
}
.contenedor_barra_filtro .filtro,.contenedor_barra_filtro select{
    border: 1px solid rgba(142,142,142,0.51);
    padding: 10px;
    border-radius: 4px;
    margin: 0px 4px 0px 0px;
}
.nueva_contrasena{
    margin: 16px auto;
    font-size: 35px;
    background-color: #03A9F4;
    color: white;
    width: 500px;
    border-radius: 4px;
    box-shadow: 0px 3px 0px 1px rgba(128, 128, 128, 0.5);
    transition: 0.5s;
}

.nueva_contrasena:hover{
    cursor: pointer;
    box-shadow: none;
    transition: 0.5s;
}
input#nueva_contrasena_copy{
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 130px;
    margin: auto 15px;
    background: transparent;
}