{% extends 'base.html.twig' %}

{% block body %}
    <h1>Esta es la pagina de inicio</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, consequatur consequuntur deserunt dicta dignissimos eaque fuga hic, nemo quas sed sequi voluptas. Adipisci animi aut consectetur debitis dignissimos dolorem porro!</p>
{% endblock %}
