{% extends 'base.html.twig' %}
{% block titulo %}Crear tarea{% endblock %}
{% block menu_tareas %}class="active"{% endblock %}
{% block body %}
    <div class="alinear_izquierda" style="width: 50%;margin: auto;">
        <h1>Nueva tarea</h1>
        <form action="#" method="POST" id="form_crear_ticket">
            <div class="float_right botones_accion" style="margin-top: -44px;">
                    <button type="reset" class="btn btn-danger cancelar_ticket"><span class="glyphicon glyphicon-remove"></span>&Tab;Cancelar</button>
                    <button type="submit" class="btn btn-primary guardar_ticket"><span class="glyphicon glyphicon-floppy-save"></span>&Tab;Guardar</button>
                <input type="text" value="{{ app.user.id }}" id="usuario_id" hidden>
            </div>
            <div>
                <label for="asignar">Asignar A:</label>
                <select name="asignar" id="asignar" class="form-control form-control-lg" required autofocus>
                    <option value="">Seleccione un usuario técnico</option>
                    {% for usuario in usuarios %}
                        {% if usuario.tipoUsuario == "ROLE_ADMIN" %}
                            <option value="{{ usuario.id }}">{{ usuario.nombre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="descripcion_tarea">Descripción</label>
                <textarea class="form-control" name="descripcion_tarea" id="descripcion_tarea" rows="3" style="height: 200px" required></textarea>
            </div>
            <div class="centrar_contenido">
                <p>
                    <i class="glyphicon glyphicon-info-sign"></i>&Tab;Favor ser lo más descriptivo y resumido posible.
                </p>
            </div>
            <div class="notificacion_tarea">

            </div>
        </div>
    </form>
    <script>
        $(document).on('submit','#form_crear_ticket',function(e){
            e.preventDefault();
            //Desactivando el boton de crear ticket para evitar duplicidad de tarea
            $('.guardar_ticket').prop('disabled','disabled');
            crear_ticket();
        });
        function crear_ticket(){

            var asignado = $('#asignar').val();
            var usuario_id = $('#usuario_id').val();
            var descripcion = $('#descripcion_tarea').val();

            $.ajax({
                url:Routing.generate('guardar_ticket'),
                type:'POST',
                data:JSON.stringify({descripcion: descripcion, usuario: usuario_id, usuarioAsignadoId: asignado}),
                success:function(response){
                    try{
                        var resp = JSON.parse(response);
                    //Desplegando notificacion
                        desplegar_notificacion('Ticket #' +resp.id + ' creado');
                        $('.notificacion_tarea').append("<div class='success_ticket'>Ticket #" + resp.id + " creado</div>");
                    }catch (e) {
                        console.log(e.message());
                    }
                },
                error:function(err){
                    desplegar_notificacion('Error al crear el ticket','error');
                    console.log(err.responseText);
                }
            });
        }
    </script>
{% endblock %}
